[submodule "Formats"]
	path = Formats
	url = https://github.com/horsicq/Formats.git
[submodule "die_script"]
	path = dep/die_script
	url = https://github.com/horsicq/die_script.git
[submodule "XArchive"]
	path = dep/XArchive
	url = https://github.com/horsicq/XArchive.git
[submodule "Detect-It-Easy"]
	path = dep/Detect-It-Easy
	url = https://github.com/horsicq/Detect-It-Easy.git
[submodule "build_tools"]
	path = dep/build_tools
	url = https://github.com/horsicq/build_tools
[submodule "XCapstone"]
	path = dep/XCapstone
	url = https://github.com/horsicq/XCapstone
[submodule "XDEX"]
	path = dep/XDEX
	url = https://github.com/horsicq/XDEX
[submodule "XPDF"]
	path = dep/XPDF
	url = https://github.com/horsicq/XPDF
[submodule "dep/Detect-It-Easy"]
	path = dep/Detect-It-Easy
	url = https://github.com/horsicq/Detect-It-Easy
[submodule "dep/build_tools"]
	path = dep/build_tools
	url = https://github.com/horsicq/build_tools
[submodule "dep/die_script"]
	path = dep/die_script
	url = https://github.com/horsicq/die_script
[submodule "dep/Formats"]
	path = dep/Formats
	url = https://github.com/horsicq/Formats
[submodule "dep/XArchive"]
	path = dep/XArchive
	url = https://github.com/horsicq/XArchive
[submodule "dep/XCapstone"]
	path = dep/XCapstone
	url = https://github.com/horsicq/XCapstone
[submodule "dep/XDEX"]
	path = dep/XDEX
	url = https://github.com/horsicq/XDEX
[submodule "dep/XPDF"]
	path = dep/XPDF
	url = https://github.com/horsicq/XPDF
[submodule "dep/XOptions"]
	path = dep/XOptions
	url = https://github.com/horsicq/XOptions
[submodule "dep/XExtractor"]
	path = dep/XExtractor
	url = https://github.com/horsicq/XExtractor
[submodule "dep/XScanEngine"]
	path = dep/XScanEngine
	url = https://github.com/horsicq/XScanEngine
[submodule "dep/XDisasmCore"]
	path = dep/XDisasmCore
	url = https://github.com/horsicq/XDisasmCore.git
[submodule "dep/XStaticUnpacker"]
	path = dep/XStaticUnpacker
	url = https://github.com/horsicq/XStaticUnpacker
